.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: opacity .2s ease-in;
}
  
.reactModal {
    overflow: hidden;
}
.ReactModal__Overlay {
    z-index: 999;
    --after-open {
        background-color: #1a1a1a !important;
    }
   
  }

.content {
    position: relative;
    max-width: 80%;
    max-height: 80%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    border: none;
    transition: transform .2s ease-in;
    outline: transparent;
}
  button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.7;
  }
  